@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: oklch(0.4042 0.0948 146.24);
  --color-secondary: oklch(0.3549 0.0415 160.45);
  --color-accent: oklch(0.9393 0.0765 160.45);
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Brand */
  --color-primary: oklch(0.5839 0.146 151.21);
  --color-secondary: oklch(0.9946 0 151.21);
  --color-accent: oklch(0.114 0.0173 146.24);

  /* Base */
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.01 95);
  --color-base-300: oklch(92% 0.015 95);

  /* Neutral */
  --color-neutral: oklch(35% 0.01 260);
  --color-neutral-content: oklch(98% 0.01 260) ;

  /* Feedback */
  --color-success: oklch(70% 0.17 145);
  --color-error: oklch(62% 0.24 28);
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
